@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Acceso a raiz, establecimiento de valores estandares como variables de uso continuo*/
:root{
    --gold1:#f47676;
    --gold2:#f03838;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #0c1d0c;
    --black2: #393d42;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*Tipo de letra body*/
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

.container--modifier{
    width: 60%;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}
.heronave{
    width: 100%;
    min-height: 1vh;
    background:rgb(22, 27, 24); 
}

.nav__hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name{
    font-size: 24px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.paginas{
    color: inherit;
    font-weight: 300px;
    width: 79em;
    height: auto;
    margin: 40px;
    padding: 15px;
    text-align: center ;
}

.link--active{
    color: var(--gold1);
    font-weight: 700;
}

.point{
    color: var(--gold1);
}

.hero__main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
}

.mockup{
    object-fit: cover;
    width: 40%;
    border-radius: 50%;
    max-height: 90vh;
}

.hero__textos{
    width: 48%;
}

.title{
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}

.title--active{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow)  var(--color_shadow);
    margin: 15px 0;
}

.copy__active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #ffffff 0%, #dadada 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}

/* services */

.services{
    background: #ffffff;
}

.subtitle{
    font-size: 42px;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
}

.copy__section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}

.card__img{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cards__text{
    text-align: left;
    width: 90%;
    margin:0 auto;
}

.card__list{
    color: var(--gold2);
    font-weight: 700;
    margin: 25px 0 12px ;
    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: var(--gray2);
    margin-bottom: 16px;
    text-align:justify  ;
}

.card__button{
    display: block;
    background: linear-gradient(180deg, #ffffff 0%, #d6d5d5 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}


.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.img{
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
    width: 30%;
    padding: 0px;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align:right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
    float: left;
}

.video{
    position: relative;
    top: 1px;
    left: 490px;

}

.copy_pagin{
    color: var(--black2);
    font-size: 20px;
    text-align: justify;
    position: relative;
    float: left;
    width: 40em;
    height: auto;
    margin: 1px;
    padding: 15px;

}


.integrantes{
    background: #fafafa;
}

.integrantes-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.integrantes__card{
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.integrantes__img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}

.integrantes__copy{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}


.integrantes__logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}

.integrantes__name{
    font-size: 24px;
    line-height:28px;
}

.integrantes__position{
    color: var(--gray);
}


.integrantes__history{
    font-size: 21px;
    font-weight: 300;
}


.integrantes__info{
    width: 70%;
}

.logo--picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}

/* check */

.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.check__item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black2);
}

.bx-check{
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
}

.check__number{
    font-weight: 700;
}

.check__copy{
    font-weight: 300;
}


.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);

}


.item__contact--gold{
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    color: var(--black1);
}
.contact__icon{
    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;
}

.contact__icon--modifier{
    color: var(--black1);
}

.contact__title{
    font-size: 16px;
    line-height: 20px;

}

.contact__button{
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width:900px){
    .mockup{
        width: 600px;
        height: auto;
    }

    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .card{
        width: 42%;
    }

    .integrantes-container{
        justify-content: space-evenly;
    }

    .integrantes__card{
        width: 45%;
    }

    .check__item{
        width: 45%;
        margin-bottom: 35px;
    }
    .paginas{
        width: auto;
    }
    .img{
        width: auto;

    }

    .copy_pagin{
        color: var(--black2);
        font-size: 20px;
        text-align: justify;
        position: relative;
        float: left;
        width: auto;
        height: auto;
        margin: 1px;
        padding: 15px;
    
    }

    .video{
        position: relative;
        top: 1px;
        left: auto;
        width: auto;
    
    }

}

@media screen and (max-width:700px){
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav__container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .hero__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    .hero__textos{
        width: 100%;
        text-align: center;
    }

    .mockup{
        width: 60%;
        margin-bottom: 20px;
    }

    .title{
        font-size: 35px;
    }

    .copy{
        font-size: 20px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .copy__section{
        font-size: 20px;
        text-align: center;
    }

    .services .card{
        width: 80%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 35px;
    }

    .contact__button{
        font-size: auto;
    }

    .card__button{
        width: 100%;
    }

    .integrantes__card{
        width: 65%;
    }

    .integrantes__name{
        font-size: 20px;
    }

    .container--modifier{
        width: 80%;
    }

    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
    .paginas{
        width: auto;
    }
    .img{
        width: auto;
        left: 30px;
    }

    .copy_pagin{
        color: var(--black2);
        font-size: 20px;
        text-align: justify;
        position: relative;
        float: left;
        width: auto;
        height: auto;
        margin: 1px;
        padding: 15px;
    
    }

    .video{
        position: relative;
        top: 1px;
        left: auto;
        width: auto;
    
    }

}

@media screen and (max-width:500px){
    .mockup{
        width: 80%;
        margin-bottom: 15px;
    }

    .services .card{
        width: 95%;
    }

    .card{
        width: 95%;
    }

    .integrantes__card{
        width: 95%;
    }

    .integrantes__history{
        font-size: 20px;
    }

    .container--modifier{
        width: 90%;
    }

    .check__item{
        width: 100%;
        border: none;
        padding: none;
        justify-content: center;
    }
    .paginas{
        width: auto;
    }
    .img{
        width: auto;
    }

    .copy_pagin{
        color: var(--black2);
        font-size: 20px;
        text-align: justify;
        position: relative;
        float: left;
        width: auto;
        height: auto;
        margin: 1px;
        padding: 15px;
    
    }


    .video{
        position: relative;
        top: 1px;
        left: auto;
        width: auto;
    
    }

}